body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.conteneur {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    background-color: white;
    /*border: 1px solid #000;*/
    backdrop-filter: blur(22px);
    border: none;
    /*border-radius: 20px;*/
    text-align: center;
    height: 90vh;
}
.conteneur1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    height: 90vh;
    background-color: blueviolet;
    text-align: center;
    backdrop-filter: blur(22px);
    border: none;
}

.conteneur1 h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 900;
    margin-top: 40px;
}
.conteneur1 p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    padding: 0 20px;
}
#login-btn {
    width: 100%;
    max-width: 200px;
    height: 30px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}
#login-btn:hover {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
}


svg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid blueviolet;
    fill: blueviolet;
    box-sizing: border-box;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 40px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

form {
    align-items: center;
    justify-content: center;
}

input {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    height: 35px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid blueviolet;
}

#submit-btn {
    width: 100%;
    max-width: 200px;
    height: 30px;
    box-sizing: border-box;
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: none;
}
#submit-btn:hover {
    background-color: transparent;
    color: blueviolet;
    border: 1px solid blueviolet;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color: #000;
}

p a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color: blueviolet;
    font-weight: bolder;
    text-decoration: none;
    ;
}

p a:hover {
    text-decoration: underline;
}