* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-container {
  width: 25vw;
  height: 100vh;
  background-color: blueviolet;
}

.sidebar {
  padding: 30px 26px;
  position: fixed;
  top: 0;
  position: sticky;
}

h1 {
  text-align: left;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin-bottom: 5px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
  border-radius: 10px;
}

.nav-item:active {
  background-color: rgba(86, 12, 12, 0.281);
}

.nav-item:hover {
  text-decoration: underline;
  background-color: rgba(86, 12, 12, 0.281);
  border-radius: 10px;
  text-decoration-thickness: 2px;
}
.nav-item svg {
  width: 20px;
  height: 20px;
  fill: whitesmoke;
  flex-shrink: 0;
}

.container-app {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  display: block;
  gap: 10px;
  background-color: rgba(137, 43, 226, 0.119);
}

header {
  height: 60px;
  display: flex;
  border-bottom: 2px solid rgba(137, 43, 226, 0.119);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}

.box-container{
  padding: 0 20px;
  width: 100%;
  z-index: 1;
}
.banniere{
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 14px;
  gap: 15px;
  flex-wrap: wrap;
}

.bann1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.card-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.card-tags span {
  background: whitesmoke;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.bann2 a{
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  background-color: gold;
  color: blueviolet;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bolder;
}
.stats {
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom:60px;
}

.stat {
  width: 100%;
  background: white;
  padding: 18px;
  border-radius: 14px;
  border-left: 5px solid blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.stat h3 {
  font-size: 22px;
  color: #0f172a;
  font-family: 'Times New Roman', Times, serif;
}

.stat p {
  color: #64748b;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

.stat-icon {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.task-box{
  padding: 0 20px;
  width: 100%;
  z-index: 1;
}
.task{
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 14px;
  gap: 15px;
  flex-wrap: wrap;
}
.task a{
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  border-radius: 20px;
  padding: 4px 10px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 0 20px;
}

.card {
  gap: 5px;
  width: 100%;
  height: 150px;
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
}

.card h3 {
  font-size: 22px;
  color: #0f172a;
  margin-bottom: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.card p {
  font-size: 13px;
  color: #64748b;
  margin-top: 6px;
  font-family: 'Times New Roman', Times, serif;
}

.card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#highCount {
  background: #fee2e2;
  color: #ef4444;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.card a {
  color: #4f46e5;
  background-color: #4e46e54f;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  border-radius: 20px;
  padding:4px 10px;
}